{% extends "base.html" %}

{% block title %}{{ group_name }}{% endblock %}

{% block header %}{{ group_name }}{% endblock %}

{% block links %}
    <p>{% for receiver in receivers_list%}
        {{ receiver }}
    {% endfor %}</p>

    <div class="message-container">
        {% for instance in groupchat_obj %}
            <div class="{% if instance.sender_id_id == id %}sent{% else %}received{% endif %}">
                {% if instance.image %}
                    <img src="{{ instance.image.url }}" alt="Message Image"><br>
                {% endif %}
                {{ instance.message }} <br>
                {{ instance.message_time }}
                {% if instance.sender_id_id != id %}
                    <br>
                    Sent By: {{ instance.sender_id}}
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <p><a href="{% url 'chat:group_inbox' %}">Back</a></p>
    <p><a href="{% url 'user:dashboard' %}">Dashboard</a></p>
{% endblock %}

