<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <!-- Display a welcome message with the username -->
    <h1>Welcome, {{username}}</h1>
    
    <!-- Provide options for different operations for a user -->
    <h4>Operations:</h4>
    <a href="{% url 'chat:send_message' %}">Send Messages!</a><br>
    <a href="{% url 'chat:inbox' %}">Check Messages!</a><br><br>
    <a href="{% url 'chat:create_group' %}">Create Groups!</a><br>
    <a href="{% url 'chat:send_group_message' %}">Send Group Messages!</a><br>
    <a href="{% url 'chat:group_inbox' %}">Check Group Messages!</a><br><br>
    <a href="{% url 'user:change-password' %}">Change Password!</a><br>
    <a href="{% url 'user:logout' %}">Logout!</a>
</body>
</html>
