{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block header %}Forgot Password{% endblock %}

{% block form %}  
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>    
{% endblock %}

{% block links %}
    {% if forget_failed == 1 %}
            <p>Wrong email entered! Please try again.</p>
    {% elif forget_failed == 2 %}
        <p>Forgot password email has been generated! Check you inbox. </p>
    {% endif %}

    <p>Have an account? <a href = "{% url 'user:login' %}">Log In</a></p>
    <p>No account? <a href = "{% url 'user:signup' %}">Sign Up</a></p>
{% endblock %}
