<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <h1>Forgot Password</h1>
    <form method="post">
        <!-- Include the CSRF token for security -->
        {% csrf_token %}
        
        <!-- Display the form fields -->
        {{ form.as_p }}
        
        <button type="submit">Submit</button><br>
        
        <!-- Display a message if login fails -->
        {% if forget_failed == 1 %}
            <p>Wrong email entered! Please try again.</p>
        {% elif forget_failed == 2 %}
            <p>Forgot password email has been generated! Check you inbox. </p>
        {% endif %}

        <p>Have an account? <a href = "{% url 'user:login' %}">Log In</a></p>
        <p>No account? <a href = "{% url 'user:signup' %}">Sign Up</a></p>
    </form>
</body>
</html>