{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block header %}Login{% endblock %}

{% block form %}  
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>    
{% endblock %}

{% block links %}
    {% if login_failed %}
            <p>Wrong credentials! Please try again.</p>
    {% endif %}
        
    <p>No account? <a href="{% url 'user:signup' %}">Sign Up</a></p>
    <p>Forgot Password? <a href="{% url 'user:forget-password' %}">Forget Password</a></p>
{% endblock %}
