{% extends "base.html" %}

{% block title %}Send Message{% endblock %}

{% block header %}Send Message{% endblock %}

{% block form %}  
    {% csrf_token %}
    {{ form.as_p }}
    <button type='submit'>Send Message</button>   
{% endblock %}

{% block links %}
    {% if message_status == 1 %}
        <p>You can't message yourself. Try again!</p>
    {% elif message_status == 2 %}
        <p>Message sent successfully!</p>
    {% endif %}
    <p><a href="{% url 'user:dashboard' %}">Dashboard</a></p>
{% endblock %}

