{% extends "base.html" %}

{% load static %}

{% block title %}{{ username }}{% endblock %}

{% block header %}{{ username }}{% endblock %}

{% block links %}
    {{ active }}
    <div class="message-container">
        {% for message in messages %}
            <div class="{% if message.sender_id == id %}received{% elif message.sender_id != id %}sent{% endif %}">
                {% if message.image %}
                    <img src="{{ message.image.url }}" alt="Message Image"><br>
                {% endif %}
                {{ message.message }} <br>
                {{ message.message_time }} <br>

                {% if message.sender_id != id %}
                    {% if message.is_read == 1 %}
                        Read
                    {% elif message.is_delivered == 1 %}
                        Delivered
                    {% elif message.is_sent == 1 %}
                        Sent
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <p><a href="{% url 'chat:inbox' %}">Back</a></p>
    <p><a href="{% url 'user:dashboard' %}">Dashboard</a></p>
{% endblock %}

